/* Table.css */
.data-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
  }
  
  .data-table th,
  .data-table td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .data-table th {
    color: black;
    background-color: #f2f2f2;
  }
  